<h1> Here will be the full list of contacts </h1>

	<% if !@contacts.empty? %>
		<ul>
				<% @contacts.each do |contact| %>
				<li><%= contact.name %>, from <%= contact.address %></li>
				<% end %>
		</ul>
	<% else %>
	<h2> The address book is empty! run rake db:reset to get some examples! </h2>
	<% end %>