<% if !@contacts.empty? %>
	<h1 class="content__title text-center">Full list of contacts</h1>
	<ul class="list-group content__list text-center">
		<% @contacts.each do |contact| %>
		<li class="list-group-item"><%= contact.name %></li>
		<% end %>
	</ul>
<% else %>
<h2 class="content__title text-center"> The address book is empty! run rake db:reset to get some examples! </h2>
<% end %>