.header--main{
	background-color: sienna;
	color: white;
	min-height: 60px;
	padding: 1em;
}

.header__search{
	max-width: 30em;
}

.content__title{
	color: white;	
}

.content__list{
	max-width: 20em;
	margin: 1px auto;
}

.content--container{
	margin: .8% auto;
	background-color: sandybrown;
}

.footer--main{
	background-color: sienna;
	color: white;
	min-height: 20px;
	padding: .9em;
	font-size: .8em;
}

.content--rows{
	margin: .8% auto;
	padding: 5px;
	max-width: 20em;
}

.contact-icons{
	width: 10%;
	height: auto;
}